<div id="team">
    <div class="" data-aos="fade-up"> 
      <div class="" style="display: flex; justify-content: space-evenly;">
        <div class="head-team col-sm-12 col-xs-12">
          <div class="col-sm-12  col-md-3 col-lg-3 small-size  ">
            <div  data-aos="fade-up" class="text-center">
              <img src="assets/img/chennai_logo.png" alt="chennai port" height="60px" >
            </div>
          </div>
          <div class="col-sm-12 col-md-3 col-xs-12 col-lg-3 margin-b">
            <div class="header-img d-flex">
              <img src="assets/img/head/306x306.jpg" class="img-fluid" alt="" style="height: 70px;">
              <div class="member-detail">
                <a href="https://www.chennaiport.gov.in/sites/all/themes/nexus/files/pdf/profilemin.pdf" target="_blank">
                  <span class="team-header change-font-size" >Shri.Shabananda Sonowal</span>
                  <br>
                  <span class="team-head-title change-font-size" >Hon'ble Minister Of Ports water ways & Ministry of Ayush</span>
                </a>
              </div>
             </div>
          </div>
          <div class="col-sm-12 col-md-3 col-xs-12 col-lg-3 margin-b">
            <div class="header-img d-flex">
              <img src="assets/img/head/1x1-sripad.jpg" class="img-fluid" alt="">
              <div class="member-detail">
               <a href="https://www.chennaiport.gov.in/sites/all/themes/nexus/files/pdf/min1.pdf" target="_blank"> 
                 <span class="team-header change-font-size" id="text">Shri.Shripad Naik</span> <br>
                 <span class="team-head-title change-font-size" id="text">Hon'ble Minister Of state Ports & water ways</span>
               </a>
              </div>
           </div>
          </div>
           <div class="col-sm-12  col-xs-12 col-lg-3 margin-b">
            <div class="header-img d-flex">
              <img src="assets/img/head/1x1-shanthanu.png" class="img-fluid" alt="">
               <div class="member-detail">
                <a href="https://www.chennaiport.gov.in/sites/all/themes/nexus/files/pdf/min2.pdf" target="_blank"> 
                  <span class=" team-header change-font-size" id="text">Shri shantanu Thakur</span> <br>
                  <span class="team-head-title change-font-size" id="text">Hon'ble Minister Of state Ports & water ways</span>
                </a>
               </div>
           </div>
           </div>
       </div>
  
      </div>
  
    </div>
  </div>
  
  <header id="header" class="d-flex align-items-center">
    <div class="nav-header">
      <div class="main-nav">
        <ul class="main-nav-ul">
           <li><a href="" class="change-font-size" style="align-items: stretch;">Homes</a></li>
           <li class="level2"><a href="" class="change-font-size" style="align-items: stretch;">About us</a>
            <div class="main-secondary">
              <div class="secondary-nav">
                <div class="row">
                  <div class="offset-sm-3 col-sm-3">
                    <div class="secondary-left">
                      <ul>
                        <li>
                          <a href="profile.html">
                            Profile + History</a
                          >
                        </li>
                        <li>
                          <a href="mission-vision.html">Mission & Vision</a>
                        </li>
                        <li>
                          <a href="terminal.html">Brief Terminal Details </a>
                        </li>
                        <li>
                          <a href="connectivity.html">Connectivity</a>
                        </li>
                        <li>
                          <a href="milestone.html">
                            Milestones</a
                          >
                        </li>
                        <li>
                          <a href="organization.html">
                            Org.Structure</a
                          >
                        </li>
                        <li>
                          <a href="devplan-projectsreports.html">
                            Dev Plan | Report & Projects</a
                          >
                        </li>
                        <li>
                          <a href="annual-reports.html">
                            Annual Reports</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="secondary-right">
                      <p style="color:blue;">Related content</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="secondary-item">
                            <a href="/smart-trade/cargospeed">
                              <img
                                class="lozad img-fluid"
                                alt="relatedcontent"
                                src="assets/img/slider/new slider image.png"
                                data-loaded="true"
                              />
                            </a>
                            <h2><a href="">SEA PORTS</a></h2>
                            <p>
                              India’s Independence saw the port gathering development, momentum. 
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           </li>
          <li class="level2">
            <a href="" data-nav="PORTS &amp; TERMINALS" class="change-font-size"> 
              Services</a>
            <div class="main-secondary">
              <div class="secondary-nav">
                <div class="row">
                  <div class="offset-sm-3 col-sm-3">
                    <div class="secondary-left">
                      <ul>
                        <li>
                          <a href="port-tariff.html">
                            Tariff with archive</a
                          >
                        </li>
                        <li>
                          <a href="cruise-facility.html">Cargo Facilities (all infra)</a>
                        </li>
                        <li>
                          <a href="/logistics/transportation">Cruise Facility</a>
                        </li>
                        <li>
                          <a href="bunkering-facility.html">
                            Bunkering facitlity</a
                          >
                        </li>
                        <li>
                          <a href="marine-ops.html">
                            Marine Ops</a
                          >
                        </li>
                        <li>
                          <a href="https://www.chennaiport.gov.in/sites/all/themes/nexus/files/pdf/prf10.pdf?t=1682594175" target="_blank">
                            Port reception facility marpol</a
                          >
                        </li>
                        <li>
                          <a href="https://chennaiport.gov.in/sites/all/themes/nexus/files/pdf/pfs2022.pdf?t=1682594317" target="_blank">
                            Fire & Safety</a
                          >
                        </li>
                        <li>
                          <a href="https://chennaiport.gov.in/sites/all/themes/nexus/files/pdf/secu2022.pdf?t=1682594317" target="_blank">
                            Port facility security</a
                          >
                        </li>
                        <li>
                          <a href="land-information-system.html">
                            System inside CB Area</a
                          >
                        </li>
                        <li>
                          <a href="https://chennaiport.gov.in/sites/all/themes/nexus/files/pdf/OC.pdf" target="_blank">
                            Land allotment outside CB Area</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="secondary-right">
                      <p style="color:blue;">Related content</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="secondary-item">
                            <a href="/smart-trade/cargospeed">
                              <img
                                class="lozad img-fluid"
                                alt="relatedcontent"
                                src="assets/img/slider/new slide2.png"
                                data-loaded="true"
                              />
                            </a>
                            <h2><a href="">SEA PORTS</a></h2>
                            <p>
                              India’s Independence saw the port gathering development, momentum. 
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="level2">
            <a href="/logistics/digital-solutions" class="change-font-size">
              Today At Port</a
            >
            <div class="main-secondary">
              <div class="secondary-nav">
                <div class="row">
                  <div class="offset-sm-3 col-sm-3">
                    <div class="secondary-left">
                      <ul>
                        <li>
                          <a href="https://chennaiport.gov.in/sites/default/files/upload-files/pos.pdf?t=1682594425" target="_blank">
                            Daily vessels positions report</a
                          >
                        </li>
                        <li>
                          <a href="https://chennaiport.gov.in/sites/default/files/upload-files/abm.pdf?t=1682594425" target="_blank">Vessle position report after BM</a>
                        </li>
                        <li>
                          <a href="daily-birth-allotment-details.html">Daily berth allotment details</a>
                        </li>
                        <li>
                          <a href="vessels-berth.html">Vessels at Berth</a>
                        </li> 
                        <li>
                          <a href="vessels-at-oa.html">Vessel at OA</a>
                        </li> 
                        <li>
                          <a href="https://chennaiport.gov.in/sites/default/files/upload-files/eta.pdf?t=1682594585" target="_blank">Daily vessels expected report</a>
                        </li> 
                        <li>
                          <a href="vessels-to-be-berthed.html">Vessel to be berthed </a>
                        </li> 
                        <li>
                          <a href="https://chennaiport.gov.in/sites/default/files/upload-files/vpd.pdf?t=1682594585" target="_blank">Vessel Productivity</a>
                        </li> 
                        <li>
                          <a href="https://chennaiport.gov.in/sites/default/files/upload-files/pbd.pdf?t=1682594585" target="_blank">Pre-berthing detention</a>
                        </li> 
                        <li>
                          <a href="bill-payment-refund.html">Bill Payment and refunds</a>
                        </li> 
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="secondary-right">
                      <p style="color:blue;">Related content</p>
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="secondary-item">
                            <a href="">
                              <img
                                class="lozad img-fluid"
                                alt="relatedcontent"
                                src="assets/img/boat.jpg"
                                data-loaded="true"
                              />
                            </a>
                            <h2><a href="">SEA PORTS</a></h2>
                            <p>
                              India’s Independence saw the port gathering development, momentum. 
                            </p>
      
                            <a
                              href="/smart-trade/cargospeed"
                              class="primary-cta-white"
                              >Read more</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
          </li>
          <li class="menu-resp">home djfkjfhfhfhfh</li>
          <li  class="menu-resp"> home sweet home</li>
          <li  class="menu-resp "> <a href="">home sweet home</a></li>
          <li class="d-flex align-items-center text-white menu-resp"  > <a href="">GSTIN:33AAAdfgdasdsd</a></li>
          <li class="d-flex align-items-center text-white gst-title">GSTIN:33AAALC0025B1Z9</li>
          <li class="d-flex align-items-center"><a target="_blank" href="https://www.onlinesbi.sbi/sbicollect/icollecthome.htm?corpID=13631" class="p-a-0"><img title="State Bank Collect" alt="Bank Logo" src="assets/img/state bank collect.png" class="state-img"></a>  </li>
  
          <li class="d-flex align-items-center m-l-1" >
            <div class="d-flex align-items-stretch align-items-center"> 
              <a href="javascript:;" id="decreaseBtn">
                <img src="assets/img/font-images/decrease-images.png" alt="" class="img-increase mt-1">
              </a>
              &nbsp;
              <a href="javascript:;" id="defaultBtn">
                <img src="assets/img/font-images/actual.png" alt="" class="img-increase mt-1">
              </a>
              &nbsp;
              <a  href="javascript:;" id="increaseBtn">
                <img src="assets/img/font-images/increase images.png" alt="" class="img-increase mt-1">
              </a>
              &nbsp;
            </div>
           </li>
           <li class="d-flex align-items-center">
            <a id="mode-switch" class="text-white" ><i class="bi bi-moon"></i></a>
            <!-- <button></button> -->
           </li>
           <li  class="d-flex align-items-center m-l-1">
            <select name="" id="" style="font-size: 14px;">
              <option value="">English</option>
              <option value="">Tamil</option>
              <option value="">Hindi</option>
            </select>
           </li>
          <!-- <li>   <button id="toggle-btn">Toggle Dark Mode</button></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </div>
     </div>
  </header>