<footer id="footer" class="footer">
    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
        </div>
        <div class="credits">
        </div>
      </div>
    </div>
    <div class="footer-content position-relative">

      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class=" mb-4 mb-lg-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3886.237336441641!2d80.29128911474156!3d13.084139390782141!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526f83c4dce21d%3A0x57cabad0ac5e38f2!2sCHENNAI%20PORT!5e0!3m2!1sen!2sin!4v1679480960803!5m2!1sen!2sin" width="100%" height="300px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
          
            </div>
          </div>
          <div class="col-lg-2 col-md-3 footer-links" style="margin-top: 20px;">
            <h4 class="text-white">Useful Links</h4>
            <ul >
              <li><i class="bx bx-chevron-right"></i> <a href="https://webmail.chennaiport.gov.in/" target="_blank" class="change-font-size">Web Mail Access</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Careers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Links</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Feedback</a></li>
              <li> <strong>Phone: &nbsp;</strong>+1 5589 55488 55 &nbsp;</li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links"style="margin-top: 13px;">
            <h4 style="visibility: hidden;" class="text-white">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Conciliation - CSC</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Land Information System</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> GIS</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Sitemap</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Screen Reader</a></li>
              <li style="margin-top: 9px;"> <strong>Fax: &nbsp;</strong> +91-44-25361228</li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links" style="margin-top: 9px;">
            <h4 style="visibility: hidden;"  class="text-white">Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Citizens Charter</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size"> Gate Pass (Online)</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Related Links</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Right To Information</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#" class="change-font-size">Terms & Conditions</a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Chennai Port</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

        </div>
      </div>
    </div>

  </footer>

  <div class="floating-social" >
  <a href="#"class="facebook"><i class="bi bi-facebook" ></i></a>
  <a href="#" class="twitter"> <i class="bi bi-twitter"></i></a>
  <a href="#" class="youtube"><i class="bi bi-youtube"></i></a>
  <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
  <a href="#"  class="linkedin"><i class="bi bi-linkedin"></i></a>
  </div>