<!-- <div class=" herobanner-wrapper">
    <div class="">
     <div class="banner">
       <div class="owl-carousel" id="big" >
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/Picture harbour 11 Aug 07 363.jpg" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">CHENNAI PORT THE SEAWAYS</p>
              <p class="bannersubtitle">Situated in the coromandel coast in South-East India, the port of Chennai has more than 100 years of tradition.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/new container.jpg" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">BIG NATURE</p>
              <p class="bannersubtitle">A leading provider of smart logistics solutions, we help trade flow across the globe.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
   
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/slider/new slide2.png" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/12x18 (18).jpg" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/12x18 (33) - Copy.JPG" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/15.JPG" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/3.JPG" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/DSC_0296.JPG" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/12x18 (16).jpg" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
         <div class="herobanner-item">
           <div class="herobanner-img">
             <img src="assets/img/Newslide/12x18 (21).JPG" alt="" >
            </div>
            <div class="herobanner-copy">
             <div class="copy-wrapper">
               <p class="bannertitle">IMPORTS AND EXPORTS</p>
              <p class="bannersubtitle">Chennai Port, the third oldest port among the 12 major ports, is an emerging hub port.</p>
              <a href="#home" class="read-more" style="cursor: pointer !important;">Read More</a>
             </div>
            </div>
         </div>
       </div>
     </div>
    </div>
    <div class="icons-wrapper">
     <div class="herobanner-icons owl-carousel owl-theme" id="thumbs">
       <div class="herobanner-icons-item ">
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/Picture harbour 11 Aug 07 363.jpg"
         
             alt="thumbnail"
              style="height: 200px;"
           />
         </div>
       </div>
       <div class="herobanner-icons-item" >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/new container.jpg"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/slider/new slide2.png"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>

       <div class="herobanner-icons-item">
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/12x18 (18).jpg"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/12x18 (33) - Copy.JPG"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/15.JPG"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/3.JPG"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/DSC_0296.JPG"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/12x18 (16).jpg"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
       <div class="herobanner-icons-item"  >
         <div class="heroicon-img owl-thumb-item">
           <img
             class="img-fluid"
             src="assets/img/Newslide/12x18 (21).JPG"
             style="height: 200px;"
             alt="thumbnail"
           />
         </div>
       </div>
     </div>
   </div>  
 </div>    -->


<!--   
  <ngb-carousel
  #carousel
  [interval]="1000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
>
  <ng-template ngbSlide *ngFor="let img of images; index as i">
      <div class="carousel-caption">
          <h3>My slide {{i + 1}} title</h3>
      </div>
      <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
          <div class="picsum-img-wrapper">
              <img [src]="img.image" alt="My image {{i + 1}} description" />
          </div>
      </a>
  </ng-template>
</ngb-carousel> -->
 
<div class="herobanner-wrapper">
  <div class=" herobanner-item">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false">
      <div class="carousel-inner  herobanner-item">

        <div class="carousel-item" *ngFor="let image of images; let i = index" [class.active]="image === activeImage">
         <div class="herobanner-img">
          <img class="d-block w-100" [src]="image" alt="Slide {{i + 1}}">

         </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="thumbnails">
      <div class="thumbnail" *ngFor="let image of images" [class.active]="image === activeImage" (click)="changeImage(image)">
        <img [src]="image" alt="Thumbnail">
      </div>
    </div>
  </div>
</div>



 <main id="main">
   <!-- ======= About Section =====  == -->
   <section class="card-news">
     <div class="container-fluid">
       <div class="row">
         <div class="section-title mt-1">
           <h2 data-aos="fade-up " class="font-fit">Welcome To Chennai Port</h2>
           <p data-aos="fade-up">Situated in the coromandel coast in South-East India, the port of Chennai has more than 100 years of tradition. 
             <a href="" class="view-more">Read More...</a>
           </p>
         </div>
         <!-- <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative" data-aos="fade-right">
           <a href="https://youtu.be/IUxSGwmWcq4" class="glightbox play-btn mb-4"></a>
         </div> -->
         <div class="col-lg-6 col-sm-12 ">
           <div class="" style="width: 100%;">
             <video 
              poster="assets/img/thumbnail/thumbnailnew (1).png" style="width:100%;cursor:pointer" autoplay="autoplay" controls="false" >
                <source src="assets/video/chennaiport.mp4">
           </video>
           </div>
         </div>
         <div class="col-lg-6 col-sm-12 about " id="about" >
           <section id="why-us" class="why-us ">
             <div class="row" id="why-us" class="why-us ">
               <br>
               <div class="col-xl-12 col-sm-12" data-aos="fade-up">
                 <div class="content">
                   <h3>Latest Events</h3>
                   <div class="slides  position-relative why-us " >
                    <div class="slides-1 swiper">
                       <div class="swiper-wrapper">
                         <div class="swiper-slide">
                           <div class="item">

                             <p>Trade Notice - Concession in VRC for Container Vessels - <span>02/05/2023</span></p>
                             <p>BLACK LISTING - M/s. Baltej Infra LLP, Rajasthan - 302021 - <span>Today</span></p>
                             <p> Trade Notice - Royalty for Stevedoring & Shore handling  - <span>03/05/2023</span></p>
                             <p> Trade Notice - Upfront Tariff for Stevedoring - <span>Yesterday</span></p>
                             <p>Concession in Vessel Related Charges - <span>02/05/2023</span></p>
                             <p>BLACK LISTING - M/s. Saimirra Innopharm Private Ltd -<span>04/05/2023</span></p>
                             <p>BLACK LISTING - M/s. Om Shakthi Enterprises - <span>05/05/2023</span></p>
                           </div>
                         </div><!-- End slide item -->
         
                         <div class="swiper-slide">
                           <div class="item">
                             <p>Trade Notice - Concession in VRC for Container Vessels - <span>Today</span></p>
                             <p>BLACK LISTING - M/s. Baltej Infra LLP, Rajasthan - 302021 - <span>Yesterday</span></p>
                             <p> Trade Notice - Royalty for Stevedoring & Shore handling   -<span>03/05/2023</span></p>
                             <p> Trade Notice - Upfront Tariff for Stevedoring - <span>02/05/2023</span></p>
                             <p>Concession in Vessel Related Charges - <span>02/05/2023</span></p>
                           </div>
                         </div><!-- End slide item -->
         
                         <div class="swiper-slide">
                           <div class="item">
                             <p>Trade Notice - Concession in VRC for Container Vessels - <span>Today</span></p>
                             <p>BLACK LISTING - M/s. Baltej Infra LLP, Rajasthan - 302021 - <span>Yesterday</span></p>
                             <p> Trade Notice - Royalty for Stevedoring & Shore handling  - <span>03/05/2023</span></p>      
                           </div>
                         </div><!-- End slide item -->
         
                         <div class="swiper-slide">
                           <div class="item">
                             <p>Trade Notice - Concession in VRC for Container Vessels - <span>02/05/2023</span></p>
                             <p>BLACK LISTING - M/s. Baltej Infra LLP, Rajasthan - 302021 - <span>02/05/2023</span></p>
                           </div>
                         </div><!-- End slide item -->
         
                       </div>
                       <div class="swiper-pagination"></div>
                     </div>
                     <div class="swiper-button-prev"></div>
                     <div class="swiper-button-next"></div>
                   </div>
                 </div>
               </div>
             </div>
           </section>
         </div>
       </div>

     </div>
   </section>
   <section id="counts" class="counts">
     <div class="container" data-aos="fade-up">
       <div class="row">
         <div class="col-lg-3 col-md-6">
           <a href="circular.html">
             <div class="count-box">
               <img src="assets/img/hindimagazine.png" alt="" height="23px">
               <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
               <h5 class="mt-3">Trade Notice</h5>
             </div>
           </a>
      
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
           <a href="employee-portal.html">
             <div class="count-box">
               <img src="assets/img/easeofdoing business.png" alt="" height="23px">
               <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
               <h5 class="mt-3">Employees Portal</h5>
             </div>
           </a>
     
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
           <a href="https://chennaiport.gov.in/sites/all/themes/nexus/files/pdf/msme1.pdf">
             <div class="count-box">
               <img src="assets/img/tender.png" alt="" style="height: 65px !important; padding: 5px;">
               <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
               <h5 class="mt-3">Tenders</h5>
             </div>
           </a>
      
         </div>

         <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">

            <a href="pensioners.html">
             <div class="count-box">
               <img src="assets/img/employee corner.png" alt=""  height="23px">
               <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
               <h5 class="mt-3">Pensioners Portal</h5>
             </div>
            </a>
      
         </div>

       </div>

     </div>
   </section>

   <section id="about" class="about">
     <div class="container-fluid">
       <div class="section-header" data-aos="fade-up">
         <h2>Chairman's Message</h2>
       </div>
       <div class="row">
         <div class="col-lg-6" data-aos="fade-right">
           <img src="assets/img/head/23 (1).jpg" class="img-fluid" alt="">
         </div>
         <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
           <p class="change-font-size">
             Visit of Shri Sarbananda Sonawal, Hon,bleUnion Minister of Port, Shipping and Waterways and Shri Shripad Yesso Naik, Hon'ble Minister of State,Port,Shipping and Waterways on 14.08.2022            </p>
            <p class="change-font-size">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ea! Vitae quod asperiores <br> explicabo vel consequatur. Porro exercitationem temporibus, quo cum nam, tempora voluptatum consectetur, quibusdam sit perspiciatis dolorem beatae!</p>
            <p class="change-font-size">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ea! Vitae quod asperiores <br> explicabo vel consequatur. Porro exercitationem temporibus, quo cum nam, tempora voluptatum consectetur, quibusdam sit perspiciatis dolorem beatae!</p>
            <p class="change-font-size">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ea! Vitae quod asperiores <br> explicabo vel consequatur. Porro exercitationem temporibus, quo cum nam, tempora voluptatum consectetur, quibusdam sit perspiciatis dolorem beatae!</p>
            <p class="change-font-size">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae, ea! Vitae quod asperiores <br> explicabo vel consequatur. Porro exercitationem temporibus, quo cum nam, tempora voluptatum consectetur, quibusdam sit perspiciatis dolorem beatae!</p>
            <p class="change-font-size">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime ut est numquam ratione amet odio voluptatibus itaque cum facilis</p>
         </div>
       </div>

     </div>
   </section>

  <section id="portfolio" class="portfolio">
    <div class="container-fluid">
   <div class="section-header" data-aos="fade-up">
     <h2>News Highlights</h2>
   </div>
   <div class="portfolio-grid ">
     <div id="myDiv1">
       <div class="portfolio-item">
         <div class="  portfolio-wrap">
           <img src="assets/img/News Highlight/sharbananda.jpg" class="img-fluid" alt="" style="height: 700px; width: 100%; object-fit: cover;" >
           <div class="portfolio-info mt-2">
               <h2>Sharbananda Visits</h2>
             <p>Visit of Shri Sarbananda Sonawal, Hon,bleUnion Minister of Port, Shipping and Waterways and Shri Shripad Yesso Naik, Hon'ble Minister of State,Port,Shipping and Waterways on 14.08.2022</p>
             <div class="portfolio-links">
               <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"></a>
             </div>
           </div>
         </div>
       </div>
     </div>
     <div>
       
       <div id="myDiv2">
          <div class=" portfolio-item ">
           <div class="portfolio-wrap">
            <img src="assets/img/News Highlight/1-big.jpg" class="img-fluid" alt="" style="height: 343px; width: 100%; object-fit: cover" >
           <div class="portfolio-info">
             <h2>US consulate General Visits</h2>
             <p>US Consul General and Economic Officer of US Consulate General visited Chennai Port</p>
             <div class="portfolio-links">
               <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"></a>
             </div>
           </div>
         </div>
  
       </div> 
       </div>       
       <div id="myDiv3">
         <div class="portfolio-wrap mt-4">
           <img src="assets/img/News Highlight/4_1.jpeg" class="img-fluid" style="height: 338px; width: 100%; object-fit: cover"   alt="">
           <div class="portfolio-info">
             <h2>Honour & Salute for our soldiers</h2>
             <p>Chennai Port Salutes/Honours The Victory Flame/Swarnim Vijay Mashaal marking the 50th year of India's victory over Pakistan</p>
             <div class="portfolio-links">
               <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"></a>
             </div>
           </div>
         </div>
       </div>

     </div> 
     <div id="myDiv4">
       <div class="portfolio-wrap ">
         <img src="assets/img/gallery/image5.jpg" class="img-fluid" style="height: 338px; width: 100%; object-fit: cover"   alt="">
         <div class="portfolio-info">
           <h2>#WorldEnvironmentDay</h2>
           <p>On the occassion of #WorldEnvironmentDay, Shri Sunil Paliwal IAS, Chairman in the presence of Shri S Balaji Arunkumar IRTS, Dy. Chairman, HoDs & Port Employees, launched the tree plantation programme of 3000 plants.</p>
           <div class="portfolio-links">
             <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"></a>
           </div>
         </div>
       </div>
     </div>   

     <div id="myDiv5">
       <div class="portfolio-wrap ">
         <img src="assets/img/thumbnail/Picture harbour 11 Aug 07 276.png" class="img-fluid" style="height: 338px; width: 100%; object-fit: cover"   alt="">
         
         <div class="portfolio-info">
           <div class="portfolio-links">
             <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"></a>
           </div>
         </div>
       </div>
     </div>   
     </div>
    </div>
  </section>
<!-- portfolio end -->
       <!-- ======= Clients Section ======= -->
       <section id="clients" class="clients">
         <div class="container-fluid" >
           <div class="clients-slider">
             <div class="swiper-wrapper  align-items-center">
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo2.png" class="img-fluid" alt=""  style=" width: 100%; "></a></div>
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo3.png" class="img-fluid" alt=""  style=" width: 100%; "></a></div>
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo4.png" class="img-fluid" alt=""  style=" width: 100%;"></a></div>
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo5.png" class="img-fluid" alt=""  style=" width: 100%;"></a></div>
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo6.png" class="img-fluid" alt=""  style=" width: 100%;"></a></div>
               <div class="swiper-slide"><a href=""><img src="assets/img/swiper sponsors/logo8.png" class="img-fluid" alt=""  style=" width: 100%;"></a></div>
             </div>
             <div class="swiper-pagination"></div>
           </div>
   
         </div>
       </section>
       <!-- End Clients Section -->

   <!-- ======= Contact Section ======= -->

<!-- gallery -->
<div id="gallery">
 <div class="container-fluid" data-aos="fade-up">
   <div class="section-header">
     <h2>Gallery</h2>
   </div>
 </div>
 <div class="gallery-slider swiper">
   <div class="swiper-wrapper align-items-center">
     <div class="swiper-slide"><a href="assets/img/gallery/image1.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image1.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image2.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image2.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image3.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image3.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image9.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image9.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image5.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image5.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image6.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image6.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image7.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image7.jpg" class="img-fluid" alt=""></a></div>
     <div class="swiper-slide"><a href="assets/img/gallery/image8.jpg" class="gallery-lightbox"><img src="assets/img/gallery/image8.jpg" class="img-fluid" alt=""></a></div>
   </div>
   <div class="swiper-pagination"></div>
 </div>

</div>
<!-- gallery end -->
 </main>